<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
    	<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
 		
 		<!-- Masterdata -->
        <mapping class="net.corp.core.model.Users"/>
        <mapping class="net.corp.core.model.UserLogin"/>
        <mapping class="net.corp.core.model.Address"/>
        <mapping class="net.corp.core.model.UserPreference"/>
        <mapping class="net.corp.core.model.MapUserAuthorization"/>
        <mapping class="net.corp.core.model.Privileges"/>
        <mapping class="net.corp.core.model.Roles"/>
        <mapping class="net.corp.core.model.Materials"/>
        
        <mapping class="net.corp.core.model.Conversion"/>
        <mapping class="net.corp.core.model.Expenditure"/>
        <mapping class="net.corp.core.model.Hdd"/>
        <mapping class="net.corp.core.model.Items"/>
        <mapping class="net.corp.core.model.Notifications"/>
        <mapping class="net.corp.core.model.NotificationsTemp"/>
        <mapping class="net.corp.core.model.Orders"/>
        <mapping class="net.corp.core.model.PlantSpare"/>
        
        <mapping class="net.corp.core.model.PrimaryGroup"/>
        <mapping class="net.corp.core.model.Reports"/>
        <mapping class="net.corp.core.model.Sections"/>
        <mapping class="net.corp.core.model.StockItems"/>
        <mapping class="net.corp.core.model.UserData"/>
        <mapping class="net.corp.core.model.Vehicles"/>
        <mapping class="net.corp.core.model.Vibhag"/>
        <mapping class="net.corp.core.model.VibhagTypes"/>
        <mapping class="net.corp.core.model.Years"/>
        
        <mapping class="net.corp.core.model.LogBook"/>
        <mapping class="net.corp.core.model.LogMaterial"/>
        
</session-factory>
</hibernate-configuration>
