<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
  	
  	<appender name="CORP-SPRING" class="org.apache.log4j.RollingFileAppender">
	    <param name="File" value="${catalina.base}/logs/CORP/CORP-spring.log"/>
	    <param name="Append" value="true"/>
	    <param name="Threshold" value="WARN"/>
	    <param name="MaxFileSize" value="100MB"/>
	    <param name="MaxBackupIndex" value="10" />
	    <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] %C{1}.%M(%L) | %m%n"/>
	    </layout>
  	</appender> 
  	
  	<appender name="CORP-HIBERNATE" class="org.apache.log4j.RollingFileAppender">
	    <param name="File" value="${catalina.base}/logs/CORP/CORP-hibernate.log"/>
	    <param name="Append" value="true"/>
	    <param name="Threshold" value="WARN"/>
	    <param name="MaxFileSize" value="100MB"/>
	    <param name="MaxBackupIndex" value="10" />
	    <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] %C{1}.%M(%L) | %m%n"/>
	    </layout>
  	</appender> 
  	
<appender name="CORP-ERRORS" class="org.apache.log4j.RollingFileAppender">
	    <param name="File" value="${catalina.base}/logs/CORP/CORP-error.log"/>
	    <param name="Append" value="true"/>
	    <param name="Threshold" value="ERROR"/>
	    <param name="MaxFileSize" value="100MB"/>
	    <param name="MaxBackupIndex" value="10" />
	    <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] %C{1}.%M(%L) | %m%n"/>
	    </layout>
  	</appender> 
  	
  	<appender name="CORP-DEBUG" class="org.apache.log4j.RollingFileAppender">
	    <param name="File" value="${catalina.base}/logs/CORP/CORP-debug.log"/>
	    <param name="Append" value="true"/>
	    <param name="Threshold" value="DEBUG"/>
	    <param name="MaxFileSize" value="100MB"/>
	    <param name="MaxBackupIndex" value="10" />
	    <layout class="org.apache.log4j.PatternLayout">
	      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] %C{1}.%M(%L) | %m%n"/>
	    </layout>
  	</appender> 
  	
	<appender name="ASYNCCORP" class="org.apache.log4j.AsyncAppender">
            <param name="BufferSize" value="500"/>
            <param name="LocationInfo" value="true"/>
            <param name="Blocking" value="false" />
            <appender-ref ref="CORP-DEBUG" />
         	<appender-ref ref="CORP-ERRORS" />
    </appender>
    
    <appender name="ASYNCSPRING" class="org.apache.log4j.AsyncAppender">
            <param name="BufferSize" value="128"/>
            <param name="LocationInfo" value="true"/>
            <param name="Blocking" value="false" />
            <appender-ref ref="CORP-SPRING" />
    </appender>
    
    <appender name="ASYNCHIBERNATE" class="org.apache.log4j.AsyncAppender">
            <param name="BufferSize" value="250"/>
            <param name="LocationInfo" value="true"/>
            <param name="Blocking" value="false" />
            <appender-ref ref="CORP-HIBERNATE" />
    </appender>
    
    <logger name="net.corp" additivity="false">
        <level value="INFO" />
        <appender-ref ref="ASYNCCORP" />
    </logger>
    
    <logger name="org.springframework">
    	<level value="INFO"/>
    	<appender-ref ref="ASYNCSPRING"/>
	</logger>
	
    <logger name="org.hibernate">
		<level value="INFO" />
    	<appender-ref ref="ASYNCHIBERNATE"/>
	</logger>
	
	<logger name="org.hibernate.SQL ">
		<level value="INFO" />
    	<appender-ref ref="ASYNCHIBERNATE"/>
	</logger>
	
    <logger name="org.hibernate.type">
    	<level value="INFO"/>
    	<appender-ref ref="ASYNCHIBERNATE"/>
	</logger>	

	<logger name="org.springframework.security">
    	<level value="INFO"/>
    	<appender-ref ref="ASYNCSPRING"/>
	</logger>
	
	<root>
        <level value="INFO"/>
        <appender-ref ref="ASYNCCORP" />
    </root>
</log4j:configuration>