<div id="mydiv" ng-show="loading !== 0">
    <img src="resources/img/loading_icon.gif" class="ajax-loader"/>
</div>
<div style="margin-top: 40px;">
	<div>
		<div class="btn-group" has-permission="VIEW_REPORTS">
			<br/>
		</div>
		<div class="gridFilterOptions">
			<span class="label label-default " style="cursor: pointer;" ng-click="timeSelected(1)">Today</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="label label-default " style="cursor: pointer;" ng-click="timeSelected(7)">Last 7 days</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="label label-default " style="cursor: pointer;" ng-click="timeSelected(180)">Last 30 days</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;
			   <!-- <input type="radio" name="dataFilter" value="Range" ng-click="rangeDateFilter()"/> Range --> 
			<input id="dateFrom" type="text" ng-model="dateFrom" datepick style="width: 160px;"/> <span class="glyphicon glyphicon-transfer"></span> 
			<input id="dateTo" type="text" ng-model="dateTo" datepick/> 
			&nbsp;&nbsp;&nbsp;&nbsp;
			<span class="glyphicon glyphicon-refresh" style="cursor: pointer;" ng-click="rangeSelected()" ng-disabled="datafilter == 1"></span>
		</div>
	</div>
	<div class="gridStyle" ng-grid="gridOptions">
	</div>
	
</div>		