<div>
	<div>
	    <div ng-show="readOnly">
	        <div class="btn-group" has-permission="VIEW_REPORTS">
	
	            <button type="submit" class="btn btn-info" ng-click="createEntry()">Create Entry</button>
	            <button type="submit" class="btn btn-warning" ng-click="editEntry()" ng-disabled="disabled">Edit Entry</button>
				<button type="submit" class="btn btn-success" ng-click="printEntry()" ng-show="printready"  data-toggle="modal" data-target="#myModal">Print</button>
			</div>
	
	        <div class="gridFilterOptions">
	            <span class="label label-default">Show Entries for</span> :
	            <select ng-model="sel" ng-options="time.name for time in times" ng-change="timeSelected()">
	
	            </select>
	
	            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	            
	            <!-- <span class="label label-success" style="cursor: pointer;" ng-click="loadMore()">Load More</span> -->
	        </div>
	        <div class="gridStyle" ng-grid="gridOptions">
	
	        </div>
	    </div>
	    <div ng-show="!readOnly">
	        <form name="form">
	            <div style="border-bottom: 1px solid #000; padding-bottom: 20px;">
	            	<h3>Material Entry: Serial No. {{selection.materialId}}
	            	<b>{{selection.status == null && "INITIATED" || selection.status}}</b>
	            	</h3> 
	            	
	            	Entry Type *
	            	<select ng-model="selection.entryType" ng-change="weightBtns()">
	                	<option label="Inward" value="1"></option>
	                    <option label="Outward" value="2"></option>
	                </select>
	            </div>
	            <div style="float:left; width: 50%">
	            <table>
	                <tr>
	                    <td align="right">Challan Number</td>
	                    <td align="center"> : </td>
	                    <td align="left">
	                    	<input type="text" ng-model="selection.challanNo" name="challanNo"/>
	            		</td>
	                    <td align="center">&nbsp;</td>
	                </tr>
	                <tr>
	                    <td align="right">Gross Weight *</td>
	                    <td align="center"> : </td>
	                    <td align="left"><input type="text" ng-model="selection.grossWt" name="grossWt"/></td>
	                    <td align="left">&nbsp;</td>
	                </tr>
	                <tr>
	                    <td align="right">Tare Weight *</td>
	                    <td align="center"> : </td>
	                    <td align="left"><input type="text" ng-model="selection.tareWt" name="tareWt"/></td>
	                    <td align="left">&nbsp;</td>
	                </tr>
	                <tr>
	                    <td align="right">Net Weight</td>
	                    <td align="center"> : </td>
	                    <td align="left"><input type="text" ng-model="selection.netWt" name="netWt"/></td>
	                    <td align="center">&nbsp;</td>
	                </tr>
	                <tr>
	                    <td align="right">Vehicle In Time **</td>
	                    <td align="center"> : </td>
	                    <th align="left">{{selection.vehicleInTime | date:"MM/dd/yyyy @ h:mma"}}
	                        <quick-datepicker ng-model='selection.vehicleInTime'></quick-datepicker>
	                    </th>
	                    <td align="center">&nbsp;</td>
	                </tr>
	                <tr>
	                    <td align="right">Vehicle Out Time **</td>
	                    <td align="center"> : </td>
	                    <th align="left">{{selection.vehicleOutTime | date:"MM/dd/yyyy @ h:mma"}}
	                        <quick-datepicker ng-model='selection.vehicleOutTime'></quick-datepicker>
	                    </th>
	                    <td align="center">&nbsp;</td>
	                </tr>
	            </table>
	            </div>
	
	            <div>
	                <table>
	                    <tr>
	                        <td align="right">{{(selection.entryType == 1) && "From" || 'To'}} *</td>
	                        <td align="center"> : </td>
	                        <td align="left">
	                            <div>
	                                <input ng-model="selection.vendorName" list="vibhagList" required>
	                                <datalist id="vibhagList">
	                                    <select id="dummy">
	                                        <option ng-repeat="vibhag in vibhags" value="{{vibhag.vibhagName}}"></option>
	                                    </select>
	                                </datalist>
	                            </div>
	                        </td>
	                        <td align="center">
	                        	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
	  							Add/Edit Vibhag
								</button>
							</td>
	                    </tr>
	                    <tr>
	                        <td align="right">Site Name</td>
	                        <td align="center"> : </td>
	                        <td align="left"><input type="text" ng-model="selection.siteName" name="siteName" required /></td>
	                        <td align="center">&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td align="right">Material Type *</td>
	                        <td align="center"> : </td>
	                        <td align="left">
	                            <div>
	                                <input ng-model="selection.stockName" list="stockList" required>
	                                <datalist id="stockList">
	                                    <option ng-repeat="stock in stocks" value="{{stock.stockItemname}}"></option>
	                                </datalist>
	                            </div>
	                        </td>
	                        <td align="center">&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td align="right">Transporter *</td>
	                        <td align="center"> : </td>
	                        <td align="left">
	                            <div>
	                                <input ng-model="selection.transporterName" list="transportList" required>
	                                <datalist id="transportList">
	                                    <option ng-repeat="pg in pgs" value="{{pg.vendorName}}"></option>
	                                </datalist>
	                            </div>
	                        </td>
	                        <td align="center">&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td align="right">Vehicle Details *</td>
	                        <td align="center"> : </td>
	                        <td align="left">
	                            <div>
	                                <input ng-model="selection.vehicleNumber" list="vehicleList" required>
	                                <datalist id="vehicleList">
	                                    <option ng-repeat="vehicle in vehicles" value="{{vehicle.vehicleNumber}}"></option>
	                                </datalist>
	                            </div>
	                        </td>
	                        <td align="center">&nbsp;</td>
	                    </tr>
	                    <tr>
	                        <td align="right">Notes</td>
	                        <td align="center"> : </td>
	                        <td align="left"><input type="text" ng-class="textarea" name="notes"/></td>
	                        <td align="center">&nbsp;</td>
	                    </tr>
	                </table>
	
	            </div>
	            <div>
	                <div class="btn-group">
	
	                    <button type="submit" class="btn btn-info" ng-click="cancelEntry()">Cancel</button>
	                    <button type="submit" class="btn btn-warning" ng-click="saveEntry()">Save</button>
	
	                </div>
	            </div>
	        </form>
	    </div>
	</div>
</div>	
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="MaterialsCtrl">
<form>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">PMC Hotmix plant - Receipt</h4>
      </div>
      <div class="modal-body">
      	<div align="center">
            <table>
      			<tr><td>
	      		<div>
	      			<div style="float: left;">
	      				<img alt="logo" src="resources/img/logo2.png" width="130px" height="130px"/>
	      			</div>	
	      			<div style="margin-left: 130px;" align="center">
	      				<h2>DEPUTY CITY ENGINEER, HOT MIX PLANT (ROADS)</h2>
	      				<h4>PUNE MUNICIPAL CORPORATION</h4>
	      				<h4>Jai Jawan Nagar , Yerawada Pune - 411006</h4>
	      				<h4>CHALLAN SLIP</h4>
	      				
	      			</div>
      			</div>
      			<div style="margin-top: 60px; width: 100%">
      				<table border="1" style="width: 100%">
      					<tr><td>
      						<table style="width: 100%">
      							<tr>
      								<th style="text-align:right; width:220px">SERIAL NO : </th>
      								<td style="text-align:left; width:220px">{{selection.materialId}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">PRINT DATE : </th>
      								<td style="text-align:left; width:220px"></td>
      							</tr>
      							<tr>
      								<th style="text-align:right; width:220px">TRANSPORTER : </th>
      								<td style="text-align:left; width:220px">{{selection.transporter}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">MATERIAL : </th>
      								<td style="text-align:left; width:220px">{{selection.itemName}}</td>
      							</tr>
      							<tr>
      								<th style="text-align:right; width:220px">VEHICLE NO : </th>
      								<td style="text-align:left; width:220px">{{selection.vehicleName}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">RATE : </th>
      								<td style="text-align:left; width:220px">{{selection.itemName}}</td>
      							</tr>
      							<tr>
      								<th style="text-align:right; width:220px">JE/WARD OFFICE : </th>
      								<td style="text-align:left; width:220px">{{selection.vibhagName}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">AMOUNT : </th>
      								<td style="text-align:left; width:220px">{{selection.itemName}}</td>
      							</tr>
      							<tr>
      								<th style="text-align:right; width:220px">NAME OF SITE : </th>
      								<td style="text-align:left; width:220px">{{selection.siteName}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">SECTION : </th>
      								<td style="text-align:left; width:220px">{{selection.vibhagName}}</td>
      							</tr>
      						</table>
      					</td></tr>
      					<tr><td>
      						<table style="width: 100%">
      							<tr>
      								<th style="text-align:right; width:220px">GROSS WEIGHT : </th>
      								<td style="text-align:left; width:220px">{{selection.grossWt}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">IN TIME : </th>
      								<td style="text-align:left; width:220px">{{selection.vehicleInTime | date:"MM/dd/yyyy @ h:mma"}}</td>
      							</tr>
      							<tr>
      								<th style="text-align:right; width:220px">TARE WEIGHT : </th>
      								<td style="text-align:left; width:220px">{{selection.tareWt}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">OUT TIME : </th>
      								<td style="text-align:left; width:220px">{{selection.vehicleOutTime | date:"MM/dd/yyyy @ h:mma"}}</td>
      							</tr>
      							<tr>
      								<th style="text-align:right; width:220px">NET WEIGHT : </th>
      								<td style="text-align:left; width:220px">{{selection.netWt}}</td>
      								<td width="70px">&nbsp;</td>
      								<th style="text-align:right; width:220px">OUT WEIGHT : </th>
      								<td style="text-align:left; width:220px">{{selection.netWt}}</td>
      							</tr>
      							<tr>
      								<th style="text-align:right;" colspan="5"><br/><br/>PLANT SUPERVISOR SIGN</th>
      							</tr>
      						</table>
      					</td></tr>
      				</table>
      				<table style="width: 100%">
	      				<tr>
	      					<td style="text-align:center; width: 50%">NOTE: {{selection.notes}}<br/></td>
	      					<td style="text-align:center; width: 50%">RECEIVED TIME:<p style="width: 200px;">&nbsp;</p></td>
      					</tr>
      					<tr>
	      					<td style="text-align:center; width: 50%">TRANSPORTER SIGN</td>
	      					<td style="text-align:center; width: 50%">SITE INCHARGE SIGN</td>
      					</tr>
      				</table>
      			</div>	
      			</td></tr>		
      		</table>
      	</div>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Print</button>
      </div>
    </div>
  </div>
</form>  
</div>