<accordion close-others="true">
   <accordion-group heading="User Setup" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
   	 <div>
	   	 <div style="width: 48%; float: left; padding-bottom: 5px;padding-left: 40px;">
	   	 	<button type="button" style="width: 200px; height: 40px; font-size: larger" class="btn btn-info btn-sm" ng-click="createUser()" >Create User</button><br/><br/>
	   	 	<button type="button" style="width: 200px; height: 40px; font-size: larger" class="btn btn-warning btn-sm" ng-click="editUser()" >Search User</button>
	   	 </div>
	   	 <div style="float:right; width: 48%; padding-bottom: 10px;" >
			 <div class="alert alert-success alert-dismissible" role="alert" ng-show="savesuccess">
				 <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				 <strong>Success!</strong> User {{selectedUser.firstName}} {{selectedUser.lastName}} has been saved with username {{selectedUser.phone}}
			 </div>
			 <autocomplete ng-model="typed" data="users" on-select="loadPermissions" click-activation="true" ng-show="searchUserFlag" attr-placeholder="Search User by Name"></autocomplete>
	   	 </div>
	 </div>
   	 <br/>
   	 <div ng-show="userActionFlag">
	   	 <div class="panel panel-primary" style="width: 100%">
	   	 	<div class="panel-body">
	   	 	<input type="text" placeholder="Enter First Name" ng-model="selectedUser.firstName" style="width: 30%"/> &nbsp; 
	   	 	<input type="text" placeholder="Enter Last Name" ng-model="selectedUser.lastName" style="width: 30%"/>
	   	 	&nbsp;&nbsp;
	   	 	<input type="tel" placeholder="Enter Phone Number here" ng-model="selectedUser.phone" style="width: 30%"/>&nbsp;&nbsp;
	   	 	<input type="checkbox" value="" ng-model="selectedUser.adminUser"/> Admin
	   	 	</div> 	
	   	 </div>
	   	 	
	     <div class ="panel panel-default" style="float: left; width: 48%" align="center">
	     	<div class="panel-heading">
	     		<div class="panel-title"> Available Permissions <button type="button" class="btn btn-success btn-sm" ng-click="selectAllPriv()"><span class="glyphicon glyphicon-fast-forward"></span></button>
	     		</div>
	     	</div>
	     	<div class="panel-body" style="height: 200px; overflow: auto;">
	     		<div class="btn-group-vertical" style="width: 100%">
				  <div class="btn btn-default" ng-repeat="item in items track by $index" ng-click="selItem(item)">
				  {{item}}</div>
				</div>
	     	</div>
	     </div>
	     <div class ="panel panel-default" style="width: 48%; float: right" align="center">
	     	<div class="panel-heading">
	     		<div class="panel-title">  <button type="button" class="btn btn-danger btn-sm" ng-click="deselectAllPriv()"><span class="glyphicon glyphicon-fast-backward"></span></button>
	     		Selected Permissions
	     		</div>
	     	</div>
	     	<div class="panel-body" style="height: 200px; overflow: auto;">
	     		<div class="btn-group-vertical" style="width: 100%">
				  <div class="btn btn-default" ng-repeat="item in selItems track by $index" ng-click="unSelItem(item)">
				  {{item}}</div>
				</div>
	     	</div>
	     </div>
	     <div class="btn-group" style="margin-top: 10px; ">
			<button type="submit" class="btn btn-primary" ng-click="savePermissions()">Save</button>
		</div>
     </div>
   </accordion-group>
   
   
   
 </accordion>